$dark-blue: #0C2A43
$canvas-gray: #DAE0E6
$light-gray: #F5F5F5
$post-border: rgb(204, 204, 204)
$post-transparent: rgb(255, 255, 255, 0.8)
$dark-gray: #A0A0A0
$main-white: #ffffff
$hover-gray: #f0f0f0
$line-gray: rgb(237, 239, 241)