.listGroup
  display: flex
  flex-direction: column
  margin-top: 10px
  margin-left: 20px
  .group
    display: flex
    flex-direction: row
    margin-left: 10px
    margin-top: 10px
    margin-bottom: 10px
    div
      margin-top: auto
      margin-bottom: auto

    .groupAvatar
        margin-top: auto
        margin-button: auto
        color: grey
        font-size: 30px
      
    .groupName
      margin-left: 10px