@import '../../variable'

.btnContainer
  background: white
  border: 1px solid $dark-gray
  border-radius: 9999px
  color: $font-gray
  font-weight: 600
  cursor: pointer
  font-family: inherit
  overflow: hidden
  padding: 8px 15px
