.Group
    display: flex
    position: relative
    justify-content: center
    top: 50px
    .left-container
        width: 800px
        margin: 0 10px

    .right-container
        width: 400px
        margin: 0 10px


