.ProfileScreen {
	position: relative;
	top: 50px;
  	background-color: #dbdbdb;
  	min-height: calc(100vh - 50px);
	padding: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;

  .left-profile {
		width: 300px;
		background-color: #ffffff;
		padding: 10px;
		margin: 0 20px;
		border: 1px solid #c2c2c2;
		border-radius: 10px;

    .profile-image {
      width: 100%;
			display: flex;
			justify-content: center;
			margin-top: 20px;
			padding-bottom: 20px;
      img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        margin: auto;
		border-radius: 5px;
      }
    }

		.profile-info {
			padding: 5px;
			
			h1 {
				text-align: center;
			}

			.line {
				margin: 5px 0px;
				display: flex;
				justify-content: space-between;

				input {
					max-width: 180px;
					flex: 1;
					padding: 3px 5px;
					outline: none;
					border: none;
					background: transparent;

					&.update {
						border: solid 1px #dbdbdb;
					}
				}
			}

			button {
				width: 100%;
				height: 40px;
				border: none;
				background-color: #00a8ff;
				color: #ffffff;
				font-size: 16px;
				font-weight: bold;
				cursor: pointer;
				outline: none;
				border-radius: 5px;
			}
		}
	}

	.right-profile {
		width: calc(100% - 300px);
		max-width: 800px;
		background-color: #ffffff;
		padding: 50px 30px;
		margin: 0 20px;
		border: 1px solid #c2c2c2;
		border-radius: 10px;

		.post {
			padding: 8px 13px;
			margin: 10px 0px;
			border: solid 1px #dbdbdb;
			border-radius: 5px;
		}
	}
}
