@import '../../variable'

.headerBar
  height: 50px
  display: flex
  justify-content: space-between
  background-color: white
  align-items: center
  padding: 0 10px
  .logo
    height: 40px
    width: auto
  .searchArea
    height: 40px
    display: flex
    align-items: center

    input
      height: 100%
      padding: 10px
      width: 30vw
      border-radius: 2px 0 0 2px
      font-size: 14px
      font-family: inherit
      background: $background-light-gray
      border: 1px solid $border-gray
      &:hover
        outline: black 1px solid
      &:focus
        outline: $light-blue 1px solid
    //button
    //  height: 100%
    //  width: 40px
    //  background: $canvas-gray
    //  border: none
    //  border-radius: 0 2px 2px 0
    //  cursor: pointer

  .userLogin
    height: 40px
    display: flex
    justify-content: space-around
    width: 350px
    align-items: center

    .userDropdownList
      color: $dark-gray
      font-size: 20px
      display: flex
      align-items: center
      svg
        margin: 0 5px
      svg:nth-child(2)
        font-size: 14px

    .btn
      display: inline-block
      height: 80%
      border-radius: 20px
      background-color: $main-white
      width: 120px
      cursor: pointer
      font-family: inherit
      border: solid 1px $light-blue
      font-weight: 600
      color: $light-blue