@import ../../variable

.createPost
  display: flex
  flex-direction: row
  width: 700px
  height: 60px
  border-radius: 3px
  background-color: white
  
  div, input
    margin-top: auto
    margin-bottom: auto

  input
    font-size: 15px
  .userAvatar
    margin-left: 20px
    color: $font-gray
    font-size: 40px
    cursor: pointer

  .postInput
    position: relative
    width: 70%
    height: 65%
    margin-left: 50px
    border-radius: 3px
    padding-left: 20px
    line-height: 35px
    color: gray
    background: $background-light-gray
    border: 1px solid $border-gray
    font-family: inherit
    &:hover
      background: white
      border: 1px solid black
    &:focus
      outline: none
      background: white
      border: 1px solid $button-blue

  .postButton
    width: 10%
    height: 60%
    margin-left: 20px
    background-color: #088ceb
    border-radius: 20px
    color: white
    text-align: center
    text-transform: uppercase
    font-weight: bold
    font-size: 15px
    line-height: 35px
    cursor: pointer

    &:hover
      background-color: #045d9d

