.HomeScreen {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #DBDBDB;
  .LeftContainer {
    width: 300px;
    margin-left: 40px;
    margin-top: 20px;
  }
  .MiddleContainer {
    width: 700px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 20px;
  }
  .RightContainer {
    width: 300px;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 40px;
  }
}