@import ../../variable

.homeScreen
  margin: 0 auto
  display: flex
  flex-direction: row
  justify-content: space-around
  padding: 15px
  .leftContainer
    width: 300px

  .middleContainer
    width: 700px
    display: flex
    flex-direction: column

  .rightContainer
    width: 320px
    margin-left: 20px

//  .panel-area
//    width: 320px
//    margin:
//      left: 20px
//      bottom: 15px
//    .side-panel
//      border: $canvas-gray solid 1px
//      border-radius: 5px
//      margin-bottom: 10px
//      width: 100%
//      background: $main-white
//      padding: 10px 15px


//.flex-container
//  width: 1000px
//  margin: 0 auto
//  padding: 15px
//  display: flex
//  justify-content: space-between
//  .mid-area
//    flex-grow: 1
//
//  .panel-area
//    width: 320px
//    margin:
//      left: 20px
//      bottom: 15px
//    .side-panel
//      border: $canvas-gray solid 1px
//      border-radius: 5px
//      margin-bottom: 10px
//      width: 100%
//      background: $main-white
//      padding: 10px 15px