@import ../../variable

.homeScreen
  margin: 0 auto
  display: flex
  flex-direction: row
  justify-content: space-around
  padding: 15px
  .leftContainer
    width: 320px

  .middleContainer
    width: 700px
    margin: 0px 20px
    display: flex
    flex-direction: column

  .rightContainer
    width: 320px